# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Vim swap
*.swp

# bazel
/bazel*
/build_tools/python3_setup/build
/build_tools/python3_setup/Lib/__pycache__/
/build_tools/python3_setup/Lib/encodings/__pycache__/
/build_tools/python3_setup/Lib/importlib/__pycache__/
/build_tools/python3_setup/Lib/asyncio/__pycache__/
/build_tools/python3_setup/Lib/collections/__pycache__/
/build_tools/python3_setup/Lib/concurrent/__pycache__/
/build_tools/python3_setup/Lib/concurrent/futures/__pycache__/
/build_tools/python3_setup/Lib/ctypes/__pycache__/
/build_tools/python3_setup/Lib/curses/__pycache__/
/build_tools/python3_setup/Lib/dbm/__pycache__/
/build_tools/python3_setup/Lib/distutils/__pycache__/
/build_tools/python3_setup/Lib/distutils/command/__pycache__/
/build_tools/python3_setup/Lib/distutils/tests/__pycache__/
/build_tools/python3_setup/Lib/email/__pycache__/
/build_tools/python3_setup/Lib/email/mime/__pycache__/
/build_tools/python3_setup/Lib/ensurepip/__pycache__/
/build_tools/python3_setup/Lib/html/__pycache__/
/build_tools/python3_setup/Lib/http/__pycache__/
/build_tools/python3_setup/Lib/idlelib/__pycache__/
/build_tools/python3_setup/Lib/idlelib/idle_test/__pycache__/
/build_tools/python3_setup/Lib/json/__pycache__/
/build_tools/python3_setup/Lib/lib2to3/Grammar3.8.1.final.0.pickle
/build_tools/python3_setup/Lib/lib2to3/PatternGrammar3.8.1.final.0.pickle
/build_tools/python3_setup/Lib/lib2to3/__pycache__/
/build_tools/python3_setup/Lib/lib2to3/fixes/__pycache__/
/build_tools/python3_setup/Lib/lib2to3/pgen2/__pycache__/
/build_tools/python3_setup/Lib/lib2to3/tests/__pycache__/
/build_tools/python3_setup/Lib/lib2to3/tests/data/fixers/__pycache__/
/build_tools/python3_setup/Lib/lib2to3/tests/data/fixers/myfixes/__pycache__/
/build_tools/python3_setup/Lib/logging/__pycache__/
/build_tools/python3_setup/Lib/msilib/__pycache__/
/build_tools/python3_setup/Lib/multiprocessing/__pycache__/
/build_tools/python3_setup/Lib/multiprocessing/dummy/__pycache__/
/build_tools/python3_setup/Lib/pydoc_data/__pycache__/
/build_tools/python3_setup/Lib/test/__pycache__/
/build_tools/python3_setup/Lib/test/data/BIG5.TXT
/build_tools/python3_setup/Lib/test/data/BIG5HKSCS-2004.TXT
/build_tools/python3_setup/Lib/test/data/CP932.TXT
/build_tools/python3_setup/Lib/test/data/CP936.TXT
/build_tools/python3_setup/Lib/test/data/CP949.TXT
/build_tools/python3_setup/Lib/test/data/CP950.TXT
/build_tools/python3_setup/Lib/test/data/EUC-CN.TXT
/build_tools/python3_setup/Lib/test/data/EUC-JISX0213.TXT
/build_tools/python3_setup/Lib/test/data/EUC-JP.TXT
/build_tools/python3_setup/Lib/test/data/EUC-KR.TXT
/build_tools/python3_setup/Lib/test/data/JOHAB.TXT
/build_tools/python3_setup/Lib/test/data/NamedSequences.txt
/build_tools/python3_setup/Lib/test/data/NormalizationTest.txt
/build_tools/python3_setup/Lib/test/data/SHIFTJIS.TXT
/build_tools/python3_setup/Lib/test/data/SHIFT_JISX0213.TXT
/build_tools/python3_setup/Lib/test/data/blake2b.txt
/build_tools/python3_setup/Lib/test/data/blake2s.txt
/build_tools/python3_setup/Lib/test/data/gb-18030-2000.xml
/build_tools/python3_setup/Lib/test/data/sha3_224.txt
/build_tools/python3_setup/Lib/test/data/sha3_256.txt
/build_tools/python3_setup/Lib/test/data/sha3_384.txt
/build_tools/python3_setup/Lib/test/data/sha3_512.txt
/build_tools/python3_setup/Lib/test/data/shake_128.txt
/build_tools/python3_setup/Lib/test/data/shake_256.txt
/build_tools/python3_setup/Lib/test/encoded_modules/__pycache__/
/build_tools/python3_setup/Lib/test/leakers/__pycache__/
/build_tools/python3_setup/Lib/test/libregrtest/__pycache__/
/build_tools/python3_setup/Lib/test/support/__pycache__/
/build_tools/python3_setup/Lib/test/test_asyncio/__pycache__/
/build_tools/python3_setup/Lib/test/test_email/__pycache__/
/build_tools/python3_setup/Lib/test/test_import/__pycache__/
/build_tools/python3_setup/Lib/test/test_import/data/circular_imports/__pycache__/
/build_tools/python3_setup/Lib/test/test_import/data/circular_imports/subpkg/__pycache__/
/build_tools/python3_setup/Lib/test/test_import/data/package/__pycache__/
/build_tools/python3_setup/Lib/test/test_import/data/package2/__pycache__/
/build_tools/python3_setup/Lib/test/test_importlib/__pycache__/
/build_tools/python3_setup/Lib/test/test_importlib/builtin/__pycache__/
/build_tools/python3_setup/Lib/test/test_importlib/data/__pycache__/
/build_tools/python3_setup/Lib/test/test_importlib/data01/__pycache__/
/build_tools/python3_setup/Lib/test/test_importlib/data01/subdirectory/__pycache__/
/build_tools/python3_setup/Lib/test/test_importlib/data02/__pycache__/
/build_tools/python3_setup/Lib/test/test_importlib/data02/one/__pycache__/
/build_tools/python3_setup/Lib/test/test_importlib/data02/two/__pycache__/
/build_tools/python3_setup/Lib/test/test_importlib/data03/__pycache__/
/build_tools/python3_setup/Lib/test/test_importlib/extension/__pycache__/
/build_tools/python3_setup/Lib/test/test_importlib/frozen/__pycache__/
/build_tools/python3_setup/Lib/test/test_importlib/import_/__pycache__/
/build_tools/python3_setup/Lib/test/test_importlib/namespace_pkgs/both_portions/foo/__pycache__/
/build_tools/python3_setup/Lib/test/test_importlib/namespace_pkgs/module_and_namespace_package/__pycache__/
/build_tools/python3_setup/Lib/test/test_importlib/namespace_pkgs/not_a_namespace_pkg/foo/__pycache__/
/build_tools/python3_setup/Lib/test/test_importlib/namespace_pkgs/portion1/foo/__pycache__/
/build_tools/python3_setup/Lib/test/test_importlib/namespace_pkgs/portion2/foo/__pycache__/
/build_tools/python3_setup/Lib/test/test_importlib/namespace_pkgs/project1/parent/child/__pycache__/
/build_tools/python3_setup/Lib/test/test_importlib/namespace_pkgs/project2/parent/child/__pycache__/
/build_tools/python3_setup/Lib/test/test_importlib/namespace_pkgs/project3/parent/child/__pycache__/
/build_tools/python3_setup/Lib/test/test_importlib/source/__pycache__/
/build_tools/python3_setup/Lib/test/test_importlib/zipdata01/__pycache__/
/build_tools/python3_setup/Lib/test/test_importlib/zipdata02/__pycache__/
/build_tools/python3_setup/Lib/test/test_json/__pycache__/
/build_tools/python3_setup/Lib/test/test_tools/__pycache__/
/build_tools/python3_setup/Lib/test/test_warnings/__pycache__/
/build_tools/python3_setup/Lib/test/test_warnings/data/__pycache__/
/build_tools/python3_setup/Lib/test/tracedmodules/__pycache__/
/build_tools/python3_setup/Lib/tkinter/__pycache__/
/build_tools/python3_setup/Lib/unittest/__pycache__/
/build_tools/python3_setup/Lib/unittest/test/__pycache__/
/build_tools/python3_setup/Lib/unittest/test/testmock/__pycache__/
/build_tools/python3_setup/Lib/urllib/__pycache__/
/build_tools/python3_setup/Lib/venv/__pycache__/
/build_tools/python3_setup/Lib/wsgiref/__pycache__/
/build_tools/python3_setup/Lib/xml/__pycache__/
/build_tools/python3_setup/Lib/xml/dom/__pycache__/
/build_tools/python3_setup/Lib/xml/etree/__pycache__/
/build_tools/python3_setup/Lib/xml/parsers/__pycache__/
/build_tools/python3_setup/Lib/xml/sax/__pycache__/
/build_tools/python3_setup/Lib/xmlrpc/__pycache__/
/build_tools/python3_setup/Parser/__pycache__/
/build_tools/python3_setup/Tools/clinic/__pycache__/
/build_tools/python3_setup/Tools/parser/__pycache__/
/build_tools/python3_setup/Tools/scripts/__pycache__/
/build_tools/python3
/build_tools/bazel/bazel-testlogs
/build_tools/bazel/bazel-out
/build_tools/bazel/bazel-bin
/build_tools/bazel/bazel-bazel
/build_tools/bazel/output

